// Variables
$notice_error_background_color: #fa7c73;
$notice_error_border_color: #dd4a4a;

$notice_success_background_color: #73bc76;
$notice_success_border_color: #4caf50;

$badge_success_background_color: #4caf50;
$badge_error_background_color: #f44336;

.replicant-tab {
  padding: 20px;
  border: 1px solid #000;
  display: none;
}

.replicant-tab.active {
  display: block;
}

.replicant-nav-tab {
  display: inline-block;
  padding: 20px;
}

.replicant-nav-tab.active {
  color: #ff4200;
}


#panel_settings {
   position: relative;
   display: flex;
   flex-direction: row;

   .right_side {
      flex: 1;
      text-align: center;
      margin-left: 5px;
   }

   .left_side {
      margin-right: 5px;
      width: 80%;
   }
}

.replicant-badge {
   color: white;
   border-radius: 5px;
   padding: 5px 10px;

   &-success {
      background: $badge_success_background_color;
      cursor: default;
   }

   &-error {
      background: $badge_error_background_color;
      cursor: not-allowed;
   }
}

.replicant-notice {
   padding: 0.7rem 1rem;
   color: white;
   border-radius: 5px;
   border: 1px solid;

   &-error {
      background: $notice_error_background_color;
      border-color: $notice_error_border_color;
   }

   &-success {
      background: $notice_success_background_color;
      border-color: $notice_success_border_color;
   }
}